<!DOCTYPE html>
<html>
<head>
    <title>Foodchain Manager</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="http://chalarangelo.github.io/htmltemplategenerator/">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
</head>
<body>
<h1>Welcome to Foodchain manager</h1>
<h4>Please login to continue</h4>
<div class="user-container">
    <a href="/retailer/worker"><button type="button" class="btn btn-primary">Retailer worker</button></a>
    <a href="/retailer/seller"><button type="button" class="btn btn-primary">Retailer seller</button></a>
    <a href="/supplier/worker"><button type="button" class="btn btn-success">Supplier worker</button></a>
    <a href="/supplier/inspector"><button type="button" class="btn btn-success">Supplier inspector</button></a>
</div>
</body>
</html>